.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
}
.books{
    background: #fff;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5% 0px 5% 30px; 

}
.headerbooks{
    width: 95%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
    padding-top: 30px;
    align-items: center;
    justify-content:space-between;
}
.sidebooks{
    height: 100%;
    width: 10%;
    border-right: 1px solid #c4c2c2;
    background: #fff;
    display: flex;
    flex-direction: column;
}
.logo{
    border-bottom: 1px solid #c4c2c2;
}
.logobody{
    width: 80%;
    margin: 15px auto;
    background: #c4c2c2;
    text-align: center;
    padding: 15px 0px;
}
button{
    cursor: pointer;
}
.search button{
   width: 80px; 
   margin-left: 25px;
   border: none;
   background: #c4c2c2;
   padding: 7px 0px;
}
.search input{
    padding: 5px 0px;
}
.headerbooks span{
width: 100px;    
background: #c4c2c2;
padding: 6px 0px;
text-align: center;
}
span a{
    
    color: black;
    text-decoration: none;
}
table{
    width: 95%;
    margin: 0 auto;
    min-height: 250px;
    border-spacing: 0px;
    border: 1px solid #c4c2c2;
}
thead{
    background: #c4c2c2;
}
thead td{
    padding: 5px 0px 5px 10px;
}
tbody{
    border: 5px solid gray;
    min-height: 250px;
    background: #fff
}
a{
    margin-top: 15px;
    text-align: center;
}
fa{
    font-size: 40px;
    cursor: pointer;
    color: #636060;
}