/*styles for home content only*/

.home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.forms{
    background-color: #fff;
    width: 30%;
  }
  form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
 
  input:first-child{
    margin: 30px 0;
  }
  .dates{
    width: 60%;
    height: 25px;
  }
  .btn{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 30%;
    padding: 6px 0px;
    background: #d4d4d4;
    color: #000;
  }
  ::-webkit-input-placeholder {
    color: #d5d7df;
    }
    
    :-moz-placeholder { 
      color: #d5d7df;
    }
    
    ::-moz-placeholder { 
      color: #d5d7df;
    }
    
    :-ms-input-placeholder {  
      color: #d5d7df;
    }
