<div [ngClass]="{home:true}">
  <div *ngIf="condition" [ngClass]="{forms:true}"> 
    <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)" >
    <input name="login" placeholder=" Логин" ngModel required minlength="6" [ngClass]="{dates:true}"/>
    <input name="password" placeholder=" Пароль" ngModel required minlength="6" [ngClass]="{dates:true}"/>
    <input type="submit" [disabled]="myForm.invalid" class="btn btn-default" value="Вход" [ngClass]="{btn:true}" />
    </form>
    </div>
   
</div>

