/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */

//@import 'dropdown.css';
//@import 'primeng.css';

body{
    height: 100%;
    width: 100%;
}
input{
    border:2px solid #d5d7df;
    outline: none;
  }
  button{
    outline: none;
  }

  input.ng-touched.ng-invalid {border:solid red 2px;}
  input.ng-touched.ng-valid {border:solid green 2px;}