<div [ngClass]="{wrapper:true}"> 
  <div [ngClass]="{sidebooks:true}"> 
    <div [ngClass]="{logo:true}"> 
    <div [ngClass]="{logobody:true}"> 
    Logo
    </div>
    </div>
    <a [routerLink]=" ['../../']"><fa name="book"></fa></a>
    <a [routerLink]=" ['../../add-cinema'] "><fa name="plus"></fa></a>
    <a [routerLink]=" ['./'] "><fa name="users"></fa></a>
  </div>
  
  <div [ngClass]="{books:true}"> 
      <div [ngClass]="{headerbooks:true}">
        <h3>Список режиссеров</h3>
          <div [ngClass] = "{bodybooks:true}">
        <table>
          <thead>
            <td>Имя</td>
            <td>Возраст</td>
          </thead>
          <tr *ngFor="let producer of array">
            <td>{{producer.name}}</td>
            <td>{{producer.age}}</td>
          </tr>
        </table>
      </div>
      </div>
</div>
</div>