.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
}
.forms{
    width: 95%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
    padding-top: 30px;
    align-items: center;
    justify-content:space-between;
}
.books{
    background: #fff;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5% 0px 5% 30px; 

}
.sidebooks{
    height: 100%;
    width: 10%;
    border-right: 1px solid #c4c2c2;
    background: #fff;
    display: flex;
    flex-direction: column;
}
.logo{
    border-bottom: 1px solid #c4c2c2;
}
.logobody{
    width: 80%;
    margin: 15px auto;
    background: #c4c2c2;
    text-align: center;
    padding: 15px 0px;
}
.headerbooks{
    width: 95%;
    margin: 0 auto;
}
fa{
    font-size: 40px;
    cursor: pointer;
    color: #636060;
}

a{
    margin-top: 15px;
    text-align: center;
}
.bodybooks{
    margin-top: 30px;
}
table{
    width: 80%;
    min-height: 250px;
    border-spacing: 0px;
    border: 1px solid #c4c2c2;
}
thead{
    background: #c4c2c2;
}
thead td{
    padding: 5px 0px 5px 10px;
}
h3{
    color:#c4c2c2;
}