html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding: 0;
}
body{
  background-color: #d4d4d4;
}
div{
  box-sizing: border-box;
  overflow: hidden;
}
a.active {
  background-color: gray;
}
app{
  width: 100%;
  height: 100%;
}
