<div [ngClass]="{wrapper:true}"> 
  <div [ngClass]="{sidebooks:true}"> 
    <div [ngClass]="{logo:true}"> 
    <div [ngClass]="{logobody:true}"> 
    Logo
    </div>
    </div>
    <a [routerLink]=" ['../../']"><fa name="book"></fa></a>
    <a [routerLink]=" ['./'] "><fa name="plus"></fa></a>
    <a [routerLink]=" ['../../producer'] "><fa name="users"></fa></a>
  </div>
  
  <div [ngClass]="{books:true}"> 
      <div [ngClass]="{headerbooks:true}">
    <div [ngClass]="{forms:true}"> 
      <form #myForm1="ngForm" novalidate (ngSubmit)="onSubmit(myForm1)" >
      <input name="login" placeholder=" Название"  ngModel required minlength="6" [ngClass]="{dates:true}"/>
      <input name="password" placeholder=" Год" ngModel required minlength="6" [ngClass]="{dates:true}"/>
      <input type="submit" [disabled]="myForm1.invalid" value="Добавить" [ngClass]="{btn:true}" />  
      </form>
      </div> 
  </div>
  <p-dropdown [options]="genre" [(ngModel)]="selectedGenre" placeholder="Select a Genre" optionLabel="value" [showClear]="true"></p-dropdown>
</div>
</div>